In [ ]:
import pandas as pd
data_frame = pd.read_csv("https://courses.openedu.ru/assets/courseware/v1/431a30c4a3a2b3f265f8cce1a809aa0f/asset-v1:ITMOUniversity+MLDATAN+spring_2023_ITMO_bac+type@asset+block/pulsar_stars_new.csv")
data_frame

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0
17897,57.062500,85.797340,1.406391,0.089520,188.306020,64.712562,-1.597527,1.429475,0

In [ ]:
data_frame_with_conditions = data_frame.query('(TG==0 & MIP>=61.0703125 & MIP<=178.859375) | (TG==1 & MIP>=10.296875 & MIP<=121.59375)')
data_frame_with_conditions

,MIP,STDIP,EKIP,SIP,MC,STDC,EKC,SC,TG
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0
...,...,...,...,...,...,...,...,...,...
17892,96.000000,44.193113,0.388674,0.281344,1.871237,15.833746,9.634927,104.821623,0
17893,136.429688,59.847421,-0.187846,-0.738123,1.296823,12.166062,15.450260,285.931022,0
17894,122.554688,49.485605,0.127978,0.323061,16.409699,44.626893,2.945244,8.297092,0
17895,119.335938,59.935939,0.159363,-0.743025,21.430602,58.872000,2.499517,4.595173,0
17896,114.507812,53.902400,0.201161,-0.024789,1.946488,13.381731,10.007967,134.238910,0

In [ ]:
data_frame_with_conditions.EKIP.mean()

0.46028632161067073

In [ ]:
from sklearn.model_selection import train_test_split
data_frame_sorted = data_frame_with_conditions.sort_values(by="SIP")
X = data_frame_sorted.drop("TG", axis=1)
Y = data_frame_sorted["TG"]

x, x_test, y, y_test = train_test_split(X, Y, test_size= 0.2, random_state=11, stratify=Y)
x.SC.mean()

105.91314060911392

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scala_johns = MinMaxScaler().fit(x)
x[x.columns] = scala_johns.transform(x)
x_test[x_test.columns] = scala_johns.transform(x_test)
x.EKIP.mean()

0.2198355912771387

In [ ]:
from sklearn.linear_model import LogisticRegression

pred = LogisticRegression(random_state=11).fit(x,y).predict(x_test)

In [ ]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, pred)

array([[3238,    6],
       [  73,  241]])

In [ ]:
from sklearn.metrics import f1_score

f1_score(y_test, pred)

0.859180035650624

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
pred = KNeighborsClassifier(n_neighbors=3).fit(x,y).predict(x_test)
confusion_matrix(y_test, pred)

array([[3225,   19],
       [  60,  254]])

In [ ]:
f1_score(y_test, pred)

0.8654173764906303